Beanstalk Android Client/gen
Beanstalk Android Client/bin
Beanstalk Android Client/test
Beanstalk Android Client/.settings
Beanstalk Android ClientTest/gen
Beanstalk Android ClientTest/bin
Beanstalk Android Client/.settings
Beanstalk Android ClientTest/.settings
.metadata
Beanstalk Android Client/local.properties
