Beanstalk Android Client/gen
Beanstalk Android Client/bin
Beanstalk Android Client/test
Beanstalk Android Client/proguard.cfg
Beanstalk Android Client/.settings
Beanstalk Android ClientTest/gen
Beanstalk Android ClientTest/bin
gitnorer
Beanstalk Android Client/.settings
Beanstalk Android ClientTest/.settings