<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.applicake.beanstalkclient"
	android:versionCode="1"
	android:versionName="1.0">


	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".LoginActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="HomeActivity">
		</activity>
		<activity
			android:name="DashboardActivity">
		</activity>
		<activity
			android:name="ChangesetActivity">
		</activity>
		<activity
			android:name="RepositoriesActivity">
		</activity>
		<activity
			android:name="CreateNewRepositoryActivity">
		</activity>
		<activity
			android:name="RepositoryDetailsActivity">
		</activity>
		<activity
			android:name="RepositoryCommitsActivity">
		</activity>
		<activity
			android:name="RepositoryModifyPropertiesActivity">
		</activity>
		<activity
			android:name="UserActivity">
		</activity>
		<activity
			android:name="UserDetailsActivity">
		</activity>
		<activity
			android:name="UserModifyPropertiesActivity">
		</activity>
		<activity
			android:name="UserCreateNewActivity">
		</activity>

	</application>

	<uses-permission
		android:name="android.permission.INTERNET" />
</manifest>