<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.applicake.beanstalkclient"
	android:versionCode="1"
	android:versionName="1.0">


	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true"
		>
		<activity
			android:name=".LoginActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="HomeActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="DashboardActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="ChangesetActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="RepositoriesActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="CreateNewRepositoryActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="RepositoryDetailsActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="RepositoryCommitsActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="RepositoryModifyPropertiesActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="UserActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="UserDetailsActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="UserModifyPropertiesActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="UserCreateNewActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="UserPermissionsActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="PermissionModifyActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>
		<activity
			android:name="RepositoryUsersPermissionsActivity"
			android:configChanges="orientation|keyboardHidden">
		</activity>

	</application>

	<uses-permission
		android:name="android.permission.INTERNET" />
</manifest>